# Virtual Environment
venv/
.venv/

# Data Files
# Ignore all large data files that can be regenerated or downloaded externally.
*.csv
*.xlsx
data/raw/
data/processed/

# Python and Jupyter
__pycache__/
.ipynb_checkpoints

# Model Outputs
*.pkl
*.joblib
*.h5
.vscode